node_modules/
.DS_Store
.vscode/
thetoiletpartition_deploy.zip
*.log
temp_server.js
jimp_scanner.js
test_jimp.js
test_jimp_docs.js
test_jimp_docs.js
purge_documents_v3.js
jimp_cleaner.js
manual_cleanup.js
list_thumbs.js
find_good.js
test_numeric.js
generate-archive.js
generate-products.js
product-detail-template.html
ALL_Partition_Products/antigravity_prompt_v3.txt
ALL_Partition_Products/facebook_post_info.txt
ALL_Partition_Products/สรุปสินค้าทั้งหมด.txt

backup_2026-04-07/
thetoiletpartition_deploy/
*.zip
.netlify/
node_modules/
the_toiletpartition_deploy/
.zip